.engine-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  animation: fadeInOut 3s ease-in-out;

  &.level-up {
    background-color: #fbbf24;
  }
  &.system {
    background-color: #4ade80;
  }

  .popup-label {
    opacity: 0.8;
  }
}
